body{
   background-image: url("https://images6.alphacoders.com/855/thumb-1920-855977.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Ariel, sans-serif;
   text-align: center;
   padding: 20px;
}

img{
    width: 200px;
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
}

.resultado{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 2px solid rgb(182, 171, 171);
   border-radius: 80px; 
   box-shadow: 0 4px 8px darkgray;
   background-color:rgba(204, 201, 211, 0.863);
   padding: 20px;
   width: 800px;
   margin: 0 auto;
   opacity: 0.7;
}

.botão{
    display:flex;
    flex-direction:grid;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0 auto;
    border: 2px solid rgba(18, 14, 235, 0.836);
    border-radius: 50px;
    box-shadow: 0 black;
    background-color:rgb(240, 240, 207);
    padding: 20px;
    width: 800px;
    
}

input{
    border-radius: 80px;
    border: 2px solid redvelvet;
    box-shadow: 0 50px 50px rgb(203, 230, 230);
    font-size: 20px;
}

button{
    background-color: rgba(18, 14, 235, 0.836);
    border: 2px solid rgb(240, 240, 207);
    border-radius: 60px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: grabbing;
}